Libraries required:
transformers
diffusers
torch
Pillow
pyttsx3(text to speech python library)
Intel Extension for Pytoch and Tensorflow(and appropriate Intel processor for that for best performance)
