{% extends 'home/base.html' %} 
{% load static %} 
{% block title %}Home - BrainByte{% endblock %} 

{% block content %}
    <div class="flex justify-center items-center min-h-screen bg-gray-100">
        <div class="w-full max-w-xl p-5 bg-white rounded-lg shadow">
            <h3 class="text-lg font-medium leading-6 text-gray-900">EduAI Chatbot</h3>
            <div class="mt-2">
                <form method="post" class="space-y-4">
                    {% csrf_token %} 
                    <div>
                        <label for="prompt" class="block text-sm font-medium text-gray-700">Prompt:</label>
                        <textarea class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500" id="prompt" name="prompt" rows="3"></textarea>
                    </div>
                    <div class="flex justify-end">
                        <button type="submit" class="inline-flex justify-center px-4 py-2 text-sm font-medium text-white bg-black border border-transparent rounded-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Submit</button>
                    </div>
                </form>
            </div>
            <div class="mt-6">
                <h6 class="text-sm font-medium text-gray-900">Response:</h6>
                <div class="mt-1 h-48 overflow-auto border rounded-md" id="response"></div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0/dist/js.cookie.min.js"></script> 
    <script>
        $(document).ready(function() {
            $('form').on('submit', function(event) {
                event.preventDefault();
                var csrftoken = Cookies.get('csrftoken');
                $.ajaxSetup({
                    headers: { 'X-CSRFToken': csrftoken }
                });
                var prompt = $('#prompt').val();
                var dateTime = new Date();
                var time = dateTime.toLocaleTimeString();
                $('#response').append(`<div class="p-3 border-b"><p class="text-sm text-gray-700">(${time}) <span class="font-semibold">You:</span> ${prompt}</p></div>`);
                $('#prompt').val('');
                $.ajax({
                    url: '/',
                    type: 'POST',
                    data: {prompt: prompt},
                    dataType: 'json',
                    success: function(data) {
                        $('#response').append(`<div class="p-3 border-b"><p class="text-sm text-gray-700">(${time}) <span class="font-semibold">EduAI:</span> ${data.response}</p></div>`);
                    }
                });
            });
        });
    </script>
{% endblock content %}
