{% extends 'base.html' %} {% block title %}Home - BrainByte{% endblock %} 
{% block content %}
<section class="text-center py-20 bg-black text-white">
  <div class="container mx-auto">
    <h1 class="text-5xl font-bold">Welcome to BrainByte</h1>
    <p class="text-xl mt-5">
      Your journey to personalized learning starts here.
    </p>
    <a
      href="/signup"
      class="mt-10 inline-block bg-white text-black px-8 py-3 text-sm font-semibold rounded"
      >Get Started</a
    >
  </div>
</section>

<section class="py-20 bg-white">
  <div class="container mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
      <!-- Feature 1 -->
      <div class="text-center">
        <img
          src="/static/images/personalized-learning.png"
          alt="Personalized Learning Paths"
          class="mx-auto mb-4"
          style="width: 100px; height: auto"
        />
        <h2 class="font-bold text-xl">Personalized Learning Paths</h2>
        <p class="mt-4">Courses tailored to your skills and interests.</p>
      </div>
      <!-- Feature 2 -->
      <div class="text-center">
        <img
          src="/static/images/artificial-intelligence.png"
          alt="AI-Driven Recommendations"
          class="mx-auto mb-4"
          style="width: 100px; height: auto"
        />
        <h2 class="font-bold text-xl">AI-Driven Recommendations</h2>
        <p class="mt-4">
          Discover courses and content with intelligent recommendations.
        </p>
      </div>
      <!-- Feature 3 -->
      <div class="text-center">
        <img
          src="/static/images/interaction.png"
          alt="Interactive Content"
          class="mx-auto mb-4"
          style="width: 100px; height: auto"
        />
        <h2 class="font-bold text-xl">Interactive Content</h2>
        <p class="mt-4">Engage with dynamic quizzes, videos, and exercises.</p>
      </div>
    </div>
  </div>
</section>
<section class="bg-gray-100 py-20">
  <div class="container mx-auto">
    <h2 class="text-center text-3xl font-bold mb-10">Featured Courses</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
      {% for topic, _ in all_courses.items() %}
      <div class="rounded overflow-hidden shadow-lg bg-white">
        <div class="flex justify-center">
          <img
            src="{{ url_for('static', filename='images/' ~ topic.lower().replace(' ', '_') ~ '.png') }}"
            alt="{{ topic | capitalize }}"
            class="w-48 h-48 object-cover"
          />
        </div>

        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">{{ topic | capitalize }}</div>

          <p class="text-gray-700 text-base">
            Explore our {{ topic | capitalize }} courses and content.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <a
            href="{{ url_for('show_topic', topic_name=topic) }}"
            class="inline-block bg-black text-white rounded-full px-3 py-1 text-sm font-semibold mr-2 mb-2"
            >Learn More</a
          >
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
